@page
@using Acxess.Web.Pages.Catalog.Shared
@model Acxess.Web.Pages.Catalog.AccessTiers.IndexModel
@section Scripts {
    <script src="~/js/Pages/Catalog/AccessTiersIndex.js" asp-append-version="true"></script>
}
@{
    const string title = "Niveles de Acceso";
    ViewData["Title"] = title;
}

<div class="h-full w-full flex flex-col bg-gray-100 dark:bg-[#0b0f19] transition-colors duration-300"
     x-data="accessTiersApp()">

    <partial name="/Pages/Catalog/Shared/_HeaderCatalogs.cshtml" model="title" />

    <main class="flex-1 grid grid-cols-12 gap-0 overflow-hidden">
        

        <div class="h-full col-span-4   flex flex-col bg-white dark:bg-slate-800">

            <partial name="/Pages/Catalog/Shared/_CatalogListFilter.cshtml"
                     model='new CatalogListFilterViewModel { SearchValue = Model.Search!, FilterUrl = Url.Page("Index", "Items")!, CreateUrl = Url.Page("Index", "Form", new { id = 0 })!, CreateButtonText = "Nuevo Nivel de Acceso" }'/>

            <section
                class=" flex-1 min-h-0  bg-white dark:bg-slate-800 border-r border-gray-200 dark:border-slate-700 flex flex-col z-10 shadow-[4px_0_24px_rgba(0,0,0,0.02)]"
                id="table-container"
                hx-get="@Url.Page("Index", pageHandler: "Items")"
                hx-trigger="load, refreshItems from:body"
                hx-target="#table-content"
                hx-swap="innerHTML">

                <div id="table-content" class="h-full flex flex-col overflow-hidden">
                    <partial name="/Pages/Catalog/Shared/_LoadingList.cshtml"/>
                </div>

            </section>
        </div>

        <section class="col-span-8 bg-gray-50 dark:bg-[#0f1523] flex flex-col relative h-full" id="form-section">
            <div id="form-container" class="h-full w-full">
                <partial name="/Pages/Catalog/Shared/_EmptySelectionBox.cshtml"/>
            </div>
        </section>

    </main>
</div>
