<div class="h-full flex flex-col  items-center gap-3 mt-3">
    <div class="text-sm font-medium text-gray-500 dark:text-gray-400 tracking-wide uppercase animate-pulse">
        Cargando Registros
    </div>
    
    <svg class="animate-spin h-8 w-8 text-blue-600 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
    </svg>
</div>