<header class="bg-white dark:bg-slate-800 p-3 flex justify-between items-center shadow-sm border-b border-gray-200 dark:border-slate-700 shrink-0 z-20">
    <div class="flex items-center gap-4">
        <h1 class="text-xl font-bold tracking-tight text-slate-700 dark:text-white pl-2">
            Socios <span class="text-gray-400 font-normal text-sm">/ Expediente Digital</span>
        </h1>
    </div>
</header>