@page
@model Acxess.Web.Pages.Catalog.Promotions.IndexModel
@section Scripts
{
    <script src="~/js/Pages/Catalog/PromotionsIndex.js"></script>
}
@{
    const string title = "Promociones y descuentos";
    ViewData["Title"] = title;
}
<div class="h-full w-full flex flex-col bg-gray-100 dark:bg-[#0b0f19] transition-colors duration-300"
     x-data="promotionsApp()">
    
    <partial name="/Pages/Catalog/Shared/_HeaderCatalogs.cshtml" model="title"/>

    <main class="flex-1 grid grid-cols-12 gap-0 overflow-hidden">
        
        <div class="h-full col-span-4   flex flex-col bg-white dark:bg-slate-800">

        </div>
    </main>
</div>